*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #ededed;
}

img.logo{
    width: 50px;
    height: 50px;
    margin-right: 5%;
  }

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section{
    height:96%;
    padding: 1%;
    margin: 1%;
    background-color: white;
}

textarea{
    height: 500px;
    border: none;
    color: #06089e;
    margin: 2px;
    padding: 2px;   
}

button{
    background-color: #063670;
    border: 1px solid #06356e;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 3px;
}

button.btn-copiar{
    background-color: red;
}